.main {
  background: $mainBackground;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-header {
  border: 1px solid red;
  background: $secondaryBackground;
  color: white;
  text-align: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}

.main-content {
  border: 1px solid blue;
  padding: 1rem;
  flex-grow: 2;
}

.main-footer {
  background-color: black;
  border: 1px solid green;
  background: $secondaryBackground;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .main {
    background: $mainBackground;
    min-height: 100%;
  }

  .main-header {
    width: 35%;
    color: white;
    position: fixed;
    top: 0;
    bottom: 50%;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
  }

  .main-content {
    margin-left: 35%;
    max-width: 1024px;
    padding: 1rem;
  }

  .main-footer {
    position: fixed;
    top: 50%;
    bottom: 0;
    width: 35%;
    text-align: center;
  }
}

